<!DOCTYPE html>
<html>
<head>

   <!--- basic page needs
   ================================================== -->
   <meta charset="utf-8">
	<title>DeviantPadam - Fact check news collector</title>
	<meta name="description" content="Collection of fake news and their fack check from various web-sites">  
	<meta name="author" content="Padam Gupta">

   <!-- mobile specific metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

 	<!-- CSS
   ================================================== -->
   <link rel="stylesheet" href="static/css/base.css">
   <link rel="stylesheet" href="static/css/vendor.css">  
   <link rel="stylesheet" href="static/css/main.css">
        

   <!-- script
   ================================================== -->
	<script src="static/js/modernizr.js"></script>
	<script src="static/js/pace.min.js"></script>

   <!-- favicons
	================================================== -->
	<!-- <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
	<link rel="icon" href="favicon.ico" type="image/x-icon"> -->

</head>

<body id="top">

	<!-- header 
   ================================================== -->
   <header class="short-header">   

   	<div class="gradient-block"></div>	

   	<div class="row header-content">

   		<!--<div class="logo">
	         <a href="index.html">Author</a>
	      </div> -->

	   	<nav id="main-nav-wrap">
				<ul class="main-navigation sf-menu">
					<li class="current"><a href="#" title="">Home</a></li>									
					<li class="has-children">
						<a href="#l" title="">Archives</a>
						<ul class="sub-menu">
			            <li><a href="#">Recent</a></li>
			         </ul>
					</li>
					<li><a href="#disclaimer" title="">Disclaimer</a></li>
					<li><a href="#" title="">About</a></li>	
					<li><a href="#" title="">Contact</a></li>										
				</ul>
			</nav> <!-- end main-nav-wrap -->
         <div class="triggers">
            <a class="menu-toggle" href="#"><span>Menu</span></a>
         </div> <!-- end triggers -->  
			<!-- end search wrap -->	
   	</div>     		
   	
   </header> <!-- end header -->


   <!-- masonry
   ================================================== -->
   <section id="bricks">

   	<div class="row masonry">

   		<!-- brick-wrapper -->
         <div class="bricks-wrapper">

         	<div class="grid-sizer"></div>

         	<div class="brick entry featured-grid animate-this">
         		<div class="entry-content">
         			<div id="featured-post-slider" class="flexslider">
			   			<ul class="slides">

                        {% for i in range(1,7) %}

				   			<li>
				   				<div class="featured-post-slide">


						   			<img src="static/img/{{ 'fakequote'+(i|string)+'.jpg' }}" class="post-background"/>
								   	<div class="overlay"></div>			   		

								   	
				   				</div>
				   			</li> <!-- /slide -->
                        {% endfor %}
				   			
				   		</ul> <!-- end slides -->
				   	</div> <!-- end featured-post-slider -->        			
         		</div> <!-- end entry content -->         		
         	</div>

         	{% block desc %}
            {% endblock %} <!-- end article -->

            
         </div> <!-- end brick-wrapper --> 

   	</div> <!-- end row -->

   	<div class="row">
   		
   		<nav class="pagination">
		      <a href="{{prev}}" class="page-numbers prev">Prev</a>
            {% for i in range(1,last+1) %}
		   	<a href="{{url_for('main',num=i)}}" class="page-numbers" onclick="this.className+='current'">{{i}}</a>
		       {% endfor %}
		   	<a href="{{next}}" class="page-numbers next">Next</a>
	      </nav>

   	</div>

   </section> <!-- end bricks -->

   
   <!-- footer
   ================================================== -->
   <footer>

   	<div class="footer-main">

   		<div class="row">  

	      	<div class="col-four tab-full mob-full footer-info">            

	            <h4 id="disclaimer">Disclaimer</h4>

	               <p>
		          	Copyright Disclaimer under section 107 of the Copyright Act 1976, allowance is made for “fair use” for purposes such as criticism, comment, news reporting, teaching, scholarship, education and research. The information contained in this Website is provided for informational and learning purposes only and does not belong to site owner, there are no hidden agendas, propagandas or intentions. Some links within the Website may lead to other web-sites, including those operated and maintained by third parties.
		          	</p>

		      </div> <!-- end footer-info -->

	      	<div class="col-four tab-1-2 mob-full social-links">

	      		<h4>Social</h4>

	      		<ul>
	      			<li><a href="https://www.linkedin.com/in/deviantpadam/" target="_blank" rel="noopener noreferrer">Linkedin</a></li>
						<li><a href="https://www.facebook.com/padam.gupta.3766" target="_blank" rel="noopener noreferrer">Facebook</a></li>
						<li><a href="http://github.com/DeviantPadam/" target="_blank" rel="noopener noreferrer">Github</a></li>
						<li><a href="https://deviantpadam.github.io" target="_blank" rel="noopener noreferrer">Web</a></li>
						<li><a href="https://www.kaggle.com/deviantpadam" target="_blank" rel="noopener noreferrer">Kaggle</a></li>
					</ul>
	      	           	
	      	</div> <!-- end social links --> 

	      	<div class="col-four tab-1-2 mob-full footer-subscribe">

	      		<h4>Subscribe</h4>

	      		<p>Keep yourself updated. Subscribe to our newsletter.</p>

	      		<div class="subscribe-form">
	      	
	      			<form id="mc-form" class="group" novalidate="true">

							<input type="email" value="" name="dEmail" class="email" id="mc-email" placeholder="Type &amp; press enter" required=""> 
	   		
			   			<input type="submit" name="subscribe" >
		   	
		   				<label for="mc-email" class="subscribe-message"></label>
			
						</form>

	      		</div>	      		
	      	           	
	      	</div> <!-- end subscribe -->         

	      </div> <!-- end row -->

   	</div> <!-- end footer-main -->

      <div class="footer-bottom">
      	<div class="row">

      		<div class="col-twelve">
	      		<div class="copyright">
		         	<span>© Copyright DeviantPadam</span> 
		         	<span>Design by <a href="https://deviantpadam.github.io" target="_blank" rel="noopener noreferrer">Padam Gupta</a></span>		         	
		         </div>

		         <div id="go-top">
		            <a class="smoothscroll" title="Back to Top" href="#top"><i class="icon icon-arrow-up"></i></a>
		         </div>         
	      	</div>

      	</div> 
      </div> <!-- end footer-bottom -->  

   </footer>  

   <div id="preloader"> 
    	<div id="loader"></div>
   </div> 

   <!-- Java Script
   ================================================== --> 
   <script src="static/js/jquery-2.1.3.min.js"></script>
   <script src="static/js/plugins.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.appear/0.4.1/jquery.appear.js"></script>
   <script src="static/js/main.js"></script>

</body>

</html>